<style>
	.nav-link {
		animation-duration: 1s;
		animation-name: slidein;
	}

	@keyframes slidein {
		from {
			margin-left: 100%;
			width: 300%;
		}

		to {
			margin-left: 0%;
			width: 100%;
		}
	}


	.nav-link {
		text-decoration: none;
		position: relative;
	}

	.nav-link::after {
		content: '';
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 0;
		height: 2px;
		background-color: transparent;
		transition: width 0.3s ease-in-out;
	}

	.nav-link:hover:after,
	.nav-link:active:after {
		width: 100%;
		background-color: black;
	}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-white">

	<a class="navbar-brand" href="/">
		<img src="/public/imagens/logokrenks2.png" alt="Logo" width="50" height="50">
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
		aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

		<span class="navbar-toggler-icon"></span>

	</button>

	<div class="collapse navbar-collapse" id="navbarNav">

		<ul class="navbar-nav nav-pills nav-fill">
			<li class="nav-item mx-5">
				<a class="nav-link {{ Request::is('sobre') ? 'active' : '' }} text-dark" href="/sobre">Sobre nós</a>
			</li>

			<li class="nav-item mx-5">
				<a class="nav-link {{ Request::is('consulta') ? 'active' : '' }} text-dark"
					href="/consulta">Consulta</a>
			</li>

			<li class="nav-item mx-5">
				<a class="nav-link {{ Request::is('agendamento') ? 'active' : '' }} text-dark"
					href="/agendamento">Agendamento</a>
			</li>
		</ul>

	</div>

</nav>