.limitador {
    max-width: 78.75rem;
    margin: 0 auto;
    box-shadow: 0 0 1rem;
}

#formAgendamento {
    display: flex;
    flex-direction: column;

}


.secao1-agendamento,
.secao1-consulta {
    background-image: url(/public/imagens/fundoAgendamento.webp);
    min-height: 100vh;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
}

.secao1-consulta {
    background-image: url(/public/imagens/fundoConsulta.webp);
}

.labels {
    font-weight: bold;
}

#blocoTextoS1,
#blocoTextoS1Consulta {
    margin-top: 5rem;
    padding: 2rem 2rem;
    color: black;
    background-color: white;
    border-radius: 2rem;

}

#blocoTextoS1Consulta {
    margin-top: 2rem;
    margin-left: 2rem;
}

#blocoAulas {
    margin-top: 1rem;
    padding: 0.5rem 4rem;

}



.color {
    border: solid black 1px;
    border-radius: 1rem;
    background-color: whitesmoke;
    padding: 1rem 0.5rem;

}


/*HOME PAGE*/

.secao1-home {
    background-image: url(/public/imagens/img1home.png);
    padding: 200px 25px;
    background-size: cover;
    background-position: center top;
    min-height: 100vh;
    box-sizing: border-box;
}

.span1 {
    color: blue;
    font-size: 2rem;
}

.caixa-texto-home1 {
    background-color: rgba(110, 109, 109, 0.8);
    color: white;
    padding: 10px;
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border-radius: 1rem;
}

.texto1-home {
    padding-left: 1rem;
}

.secao2-home {
    align-items: center;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.secao2-home h1 {
    color: blue;
}

.span2 {
    font-size: 4rem;
}

.secao3-home {
    background-image: url(/public/imagens/img2home.png);
    padding: 200px 25px;
    background-size: cover;
    background-position: center top;
    min-height: 100vh;
    box-sizing: border-box;
}

.btn-primary {
    color: white;
    background-color: blue;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    margin-top: 1rem;
}

.caixa-texto-home2 {
    background-color: rgba(110, 109, 109, 0.8);
    color: white;
    padding: 10px;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: left;

    border-radius: 1rem;
    align-content: left;
    padding: 2rem;
    margin-top: 5rem;
}

.secao4-home {
    background-image: url(/public/imagens/img3home.png);
    padding: 200px 25px;
    background-size: cover;
    background-position: center top;
    min-height: 100vh;
    box-sizing: border-box;
}

.btn-secondary {
    color: white;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 60rem;
    margin-top: 40rem;

}

.botao-secao4 {
    background-color: rgba(128, 128, 128, 0.8);
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    text-align: right;
}