<div class="container-fluid secao1-agendamento">
	<div class="row">
		<div class="col-sm-12">
			<div id="blocoTextoS1">
				<h1 class="titulo text-left">Agendamento</h1>

				<form action="" id="formAgendamento" >
					<div class="form-group">
						<label for="aulaSelect" class="labels">Aula:</label>
						<select class="form-control" name="aula" id="aulaSelect">
							<option value=""></option>
							<option value="1">Yoga</option>
							<option value="2">Pilates</option>
							<option value="3">Spinning</option>
							<option value="4">Alongamento</option>
						</select>
					</div>

					<label for="dataInput" class="labels">Data:
						<input class="form-control" type="date" name="data">
					</label>

					<p class="labels">Horário:</p>
					<label for="horarioInicio" class="labels">
						início:
						<select class="form-control" name="hora1" id="horarioInicio">
							<option value=""></option>	
						</select>
					</label>
					<label for="horarioFim" class="labels">
						fim:
						<select name="hora2" id="horarioFim" class="form-control">
							<option value=""></option>
						</select>
							
					</label>
					
					<button class="btn btn-success" type="submit">
						Cadastrar
					</button>
					
				</form>
			</div>
		</div>
	</div>
</div>

<script src="/public/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/public/js/jquery-validate/additional-methods.min.js"></script>
<script src="/public/js/jquery-validate/localization/messages_pt_BR.min.js"></script>

<script>
	async function cadastrar(form) {
		let response = await fetch("/api/aula/criar", {
			method: "post",
			body: new FormData(form)
		});

		console.log(response.ok);
	}

	$("#formAgendamento").validate({
		rules: {
			aula: {
				required: true
			},
			data: {
				required: true
			},
			hora1: {
				required: true
			},
			hora2: {
				required: true
			}
		},
		submitHandler: function (form) {
			cadastrar(form);
		}
	});
</script>
