<div class="container-fluid secao1-agendamento">
	<div class="row">
		<div class="col-sm-6">
			<div id="blocoTextoS1">
				<h1 class="titulo text-left">Agendamento</h1>

				<form id="formAgendamento" >
					<div class="form-group">
						<label for="idprofessor" class="labels">Professor:</label>
						<select class="form-control" name="idprofessor" id="idprofessor">
							<option value="">Selecione o professor:</option>
							<option value="1">Flavio</option>
						</select>
					</div>

					<div class="form-group">
						<label for="idtipo" class="labels">Aula:</label>
						<select class="form-control" name="idtipo" id="idtipo">
							<option value="">Selecione a aula:</option>
							<option value="1">Yoga</option>
							<option value="2">Pilates</option>
							<option value="3">Spinning</option>
							<option value="4">Alongamento</option>
						</select>
					</div>

					<label for="data" class="labels">Data:
						<input class="form-control" type="datetime-local" name="data" id="data">
					</label>
<!--
					<p class="labels">Horário:</p>

					<div class="container-fluid row">
						<label for="col-sm-2" class="labels" style="padding:0 0.7rem;">
							início:
						</label>
						<select class="form-control col-sm-2" name="hora1h" id="horarioInicioHora" >
							<option value="1"></option>	
						</select>
						<span style="padding: 0.5rem;">:</span>
						<select class="form-control col-sm-2" name="hora1m" id="horarioInicioMinuto">
							<option value="1"></option>	
						</select>
						<label for=" col-sm-2" class="labels" style="padding:0 0.7rem;">
							fim:
						</label>
						<select class="form-control col-sm-2" name="hora2h" id="horarioFimHora" >
							<option value="1"></option>	
						</select>
						<span style="padding: 0.5rem;">:</span>
						<select class="form-control col-sm-2" name="hora2m" id="horarioFimMinuto">
							<option value="1"></option>	
						</select>
					</div>
				-->
					
				
					
					<button class="btn btn-success" type="submit">
						Cadastrar
					</button>
					
				</form>
			</div>
		</div>
	</div>
</div>

<script src="/public/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/public/js/jquery-validate/additional-methods.min.js"></script>
<script src="/public/js/jquery-validate/localization/messages_pt_BR.min.js"></script>

<script>
	async function cadastrar(form) {
		let aula = {
			idprofessor: document.getElementById("idprofessor").value,
			idtipo: document.getElementById("idtipo").value,
			data: document.getElementById("data").value
		};

		let response = await fetch("/api/aula/criar", {
			method: "post",
			body: JSON.stringify(aula),
			headers: {
				"Content-Type": "application/json"
			}
		});

		if (response.ok) {
			Swal.fire("Sucesso!", "Aula criada com sucesso!", "success");
		} else {
			let erro = await response.json();

			Swal.fire("Erro!", erro, "error");
		}
	}

	$("#formAgendamento").validate({
		rules: {
			idprofessor: {
				required: true
			},
			idaula: {
				required: true
			},
			data: {
				required: true
			}
		},
		submitHandler: function (form) {
			cadastrar(form);
		}
	});
</script>
