<div class="container-fluid secao1-agendamento">
	<div class="row">
		<div class="col-sm-6">
			<div id="blocoTextoS1">
				<h1 class="titulo text-left">Agendamento</h1>

				<form id="formAgendamento" >
					<div class="form-group">
						<label for="idprofessor" class="labels">Professor:</label>
						<select class="form-control" name="idprofessor" id="idprofessor" onchange="atualizarTela()">
							<option value="" hidden>Selecione o professor:</option>
							<% for (let i = 0; i < professores.length; i++) { %>
							<option value="<%= professores[i].idprofessor %>"><%= professores[i].nome %></option>
							<% } %>
						</select>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	async function atualizarTela() {
		waitSwal();

		let select = document.getElementById("idprofessor");
		
		let response = await fetch("/api/aula/listar?idprofessor=" + select.value);

		let lista = await response.json();

		Swal.close();

		console.log(lista);
	}
</script>
