<div class="container-fluid secao1-consulta">
	<div class="row">
		<div class="col-sm-6">
			<div id="blocoTextoS1Consulta">
				<h1 class="titulo text-left">Consulta</h1>

				<form id="formConsulta" >
					<div class="form-group">
						<label for="idprofessor" class="labels">Professor:</label>
						<select class="form-control" name="idprofessor" id="idprofessor" onchange="atualizarTela()">
							<option value="" hidden>Selecione o professor:</option>
							<% for (let i = 0; i < professores.length; i++) { %>
							<option value="<%= professores[i].idprofessor %>"><%= professores[i].nome %></option>
							<% } %>
						</select>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row mostraAulas" id="blocoAulas"></div>
</div>

<script>
	async function atualizarTela() {
		waitSwal();

		let select = document.getElementById("idprofessor");
		
		let response = await fetch("/api/aula/listar?idprofessor=" + select.value);

		let lista = await response.json();
		let html = document.getElementById("blocoAulas")
		html.innerHTML = ""
		

		Swal.close();

		console.log(lista);

		let i = 0
		for(let aula of lista){
			i ++
			let diaHora = aula.data.split(" ")
			html.innerHTML += `<div class="col-sm-4 mb-3 mb-sm-0 aulas">
    								<div class="card">
    								  <div class="card-body">
    								    <h2 class="card-title">${aula.tipo}</h2>
    								    <p class="card-text">Data: ${diaHora[0]}</p>
    								    <p class="card-text">Horário: ${diaHora[1]}</p>
    								  </div>
    								</div>
  								</div>`
			if(i % 3 == 0){
				html.innerHTML += `</div>
									<div class="row">`
			}
		}
	}
</script>
