<div>

	<div class="container-fluid secao1-agendamento">
	<div class="row">
		<div class="col-sm-6">
			<div id="blocoTextoS1">
				<h1 class="titulo text-left">Agendamento</h1>

				<form id="formAgendamento" >
					<div class="form-group">
						<label for="idprofessorConsulta" class="labels">Professor:</label>
						<select class="form-control" name="idprofessorConsulta" id="idprofessorConsulta">
							<option value="">Selecione o professor:</option>
							<option value="1">Flavio</option>
						</select>
					</div>
				</form>


</div>
