<div class="limitador">
	<div class="secao1-home">
		<div class="caixa-texto-home1">
			<div class="texto1-home">
				<p>
					<span class="span1">KRENKS</span> 
				</p>
				<h1>
					Esteja preparado 
				</h1>
				<h1>
					para mudar de vida
				</h1>
				<p>
					scroll down
				</p>
			</div>
			
		</div>
	</div>

	<div class="secao2-home">
		<h1> <span class="span2">PROMOÇÃO!</span> </h1>
		<p>Mude sua vida e venha para KRENKS!</p>
		<h1>R$ 85,90 <span>/mês</span> </h1>
		<button class="button1-home">Se inscreva!</button>
	</div>

	<div class="secao3-home">
		<div class="caixa-texto-home2">
			<div class="texto3-home">
				<h2>
					Transforme seu corpo
				</h2>
				<h2>
					e sua vida! 
				</h2>
				<p>
					Descubra um novo nível de força, resistência e bem-estar. 
					Junte-se a nós e alcance seus objetivos.				
				</p>
			</div>
		</div>
	</div>

	<div class="secao2-home">
		<h1> <span class="span2">PROMOÇÃO BOX!</span> </h1>
		<p>Aprenda a arte do BOX!</p>
		<h1>R$ 35,90 <span>/mês</span> </h1>
	</div>

	<div class="secao4-home">
		<div> <button class="botao-secao4-home">Se inscreva!</button> </div>
	</div>

	
</div>
