<h1 class="titulo"> Quem somos </h1>

<div class="container-fluid">

	<div class="row">

		<div class="col-sm-6 p-3">

			<img src="/public/imagens/bruno.jpg" class="perfil">

		</div>

		<div class="texto p-3 col-sm-6">

			<div>

				<h2 class="mb-3">
					Bruno Diegues Aly
				</h2>

				<h3 class="mb-3">
					Idade: 24 anos
				</h3>

				<p class="texto">
					Muito jovem sua família tomou a decisão de se mudar para a cidade de São Paulo, onde mora até os
					dias de
					hoje. Sua vida acadêmica se deu
					inicio na Escola Móbile onde ficou até o 6º ano do ensino fundamental. A partir do 7º ano estudou no
					Colégio
					Miguel de Cervantes até se formar. Logo após sua formatura foi para a Espanha trabalhar em uma
					fábrica
					de
					cerejas durante as férias, após sua volta deu inicio em seu primeiro curso na ESPM, Relações
					Internacionais. Depois de se graduar, Bruno foi empregado pela empresa VALEMOBI, onde durante 6
					meses
					foi treinado em
					programação e desenvolvimento Front-End. Após a escolha de iniciar uma nova faculdade (Sistemas de
					Informação na ESPM), o seu contrato com a VALEMOBI foi encerrado.
				</p>

			</div>

		</div>

	</div>

	<div class="row">

		<div class="p-3 col-sm-6">

			<div class="p-3">

				<h2>
					Luiz Guilherme Bueno Pereira Machado
				</h2>

				<h4>
					Idade: 21
				</h4>

				<p class="texto">
					Luiz
					viveu basicamente sua vida inteira no bairro Alphaville da cidade Barueri, seu tempo de ensino
					fundamental e médio foram no Mackenzie de Alphaville. Após se formar Luiz prestou o próprio
					vestibular
					do Mackenzie para engenharia de produção onde foi aprovado e passou os próximos 5 semestres
					cursando.
					Durante o andamento de sua faculdade, estagiou na empresa Justa, mais especificamente no
					departamento
					financeiro
					durante um ano. Após perceber que tinha aptidão para programção e tomo a decisão de sair da
					engenharia para algo que focasse de forma mais efetiva no assunto que mais lhe agradava, após
					pesquisar
					e estudas as opções viu que Sistemas de Informação na ESPM seria sua melhor escolha.
				</p>

			</div>

		</div>

		<div class="col-sm-6 p-3">

			<img src="/public/imagens/luiz.jpg" class="perfil">

		</div>

	</div>

	<div class="row">

		<div class="col-sm-6 p-3">

			<img src="/public/imagens/caldas.jpg" class="perfil">

		</div>

		<div class="p-3 col-sm-6">

			<div class="p-3">

				<h2>
					João Pedro Evangelista Caldas
				</h2>

				<h3>
					Idade: 21
				</h3>

				<p class="texto ">
					Sua vida acadêmica deu inicio no Colégio Agostiniano Mendel onde estudou durante todo o ensino
					fundamental e médio. Após sua formatura deu inicio à um curso preparatório para vestibulares na
					instituição de ensino 'Anglo' onde ficou durante um ano. Após esse período João Pedro prestou para
					Psicologia na UFMG onde foi aprovado em primeira lista e logo deu inicio à sua graduação. Durante o
					1º
					ano de curso João se apaixonou pela técnologia, e decidiu trancar o curso. Após um semestre
					esperando
					João prestou o vestibular da ESPM e foi aprovado ganhando 60% de bolsa devido à sua excelência
					acadêmica.
				</p>

			</div>

		</div>

	</div>

</div>



<%- contentFor("espaco-head") %>